.bx--header {
  background-color: #7e72b0;
  transition: 0.3s;
}

body {
  background:whitesmoke;
}

#main-content {
  background:whitesmoke
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: white;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.paragraph {
  padding: 20px;
  width: 100%;
  min-height: 300px;
}